Repository barakeitan/108_express, pull requests merged in 2022-11, with the labels that each got.

#41 Feature/cart page
  public/demo.html
  public/shopping-cart.html
  views/shop/checkout.ejs
  views/shop/shopping-cart.ejs
Labels: feature, client side, view

#42 Feature/products page
  controllers/products.controller.js
  public/assets/all-products-slide.jpg
  public/assets/backpacks-slide.jpg
  public/assets/electronics-slide.jpg
  public/assets/kitbags-slide.jpg
  public/assets/laptops-slide.jpg
  public/assets/large-handbags-slide.jpg
  public/assets/mini-bags-slide.jpg
  public/assets/office-supplies-slide.jpeg
  public/assets/office-supplies-slide.jpg
  public/assets/straw-bag-slide.jpg
  public/css/index.css
  public/products.html
  views/partials/header.ejs
  views/partials/pagination.ejs
  views/shop/category.ejs
  views/shop/home.ejs
  views/shop/index.ejs
  views/shop/product.ejs
Labels: feature, client side, view

#48 Feature/map locations
  controllers/pages.controller.js
  index.js
  models/location.js
  public/assets/categories/suitcases.jpg
  public/assets/categories/totes.jpg
  public/assets/suitcases-slide.jpg
  public/assets/totes-slide.jpg
  public/js/map.js
  routes/pages.routes.js
  views/pages/about-us.ejs
Labels: client side, server side, API calls, model, view, controller

#52 Make the admin orders table scrollable and change table visibility
  public/css/index.css
  views/user/admin.ejs
Labels: hotfix, client side, view

#54 Shir/feature/canvas
  public/css/index.css
  seedDB/products-seed.js
  views/pages/about-us.ejs
  views/pages/careers.ejs
  views/pages/contact-us.ejs
  views/pages/shipping-policy.ejs
  views/partials/footer.ejs
  views/user/signin.ejs
  views/user/signup.ejs
Labels: enhancement, client side, DB, view
